<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>M2M Portal</title>

    <partial name="UserDash/_Styles" />
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
     
   <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="/img/BSNL_LOGO.jpeg" alt="BSNLLogo" height="100" width="250">
        </div>
        <partial name="UserDash/_TopNavigationadmin" />
        <partial name="UserDash/_MainNavigation" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                           @if (User.IsInRole("circle_admin"))
                            {
                                <h5 class="m-0">Circle Admin - @ViewBag.Circle</h5>
                            }
                            @if (User.IsInRole("circle_view"))
                            {
                                <h5 class="m-0">Circle View - @ViewBag.Circle</h5>
                            }
                            @if (User.IsInRole("ba_admin"))
                            {
                                <h5 class="m-0">BA Admin - @ViewBag.ssa , @ViewBag.Circle </h5>
                            }
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">DB</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
              <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <img src="~/img/bsnlm2m.jpg" alt="m2m" width="210" height="140" />
                <br />
                
            </div>
               
                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                      <div class="ribbon-wrapper">
                        <div class="ribbon bg-primary">
                          About
                        </div>
                      </div>
                      This portal helps to create synergy between the various activities of eSim provisioning <br />
                      
                    </div>
                  
                 
        </aside>
        <!-- /.control-sidebar -->

        <partial name="UserDash/_Footer" />
    </div>
    <partial name="UserDash/_Scripts" />

     @RenderSection("Scripts", required: false)  <!--added for running my javascripts in layout page-->
</body>
</html>
